.textCol {
    margin: auto;
    max-width: 50%;
    padding-bottom: 1em;
}

.aboutCol {
    margin-left: 5%;
    float: left;
    width: 40%;
}

.people {
    margin-top: 3em;
}

.overflow {
    height: 4.5em;
    line-height: 1.5em;
    text-align: left;
    position: relative;
    max-height: calc(20%);
    overflow: hidden !important;
    padding-right: 1rem;
}

.overflow::before {
    position: absolute;
    content: "...";
    bottom: 0em;
    right: 1em;
}

.name {
    margin-right: 0;
    padding-bottom: 1em;
    font-size: 1.5em;
    text-align: justify;
}

#about {
    padding-bottom: 1em !important;
}

.aboutScreen {
    display: block;
    overflow: auto;
}

.photo {
    margin: 0 0 5em 3em;
    width: 13em;
    height: 13em;
    border-radius: 45%;
    object-fit: cover;
    float: left;
    margin-right: 2em;
}