.screen {
    height: 100vh;
    display: block;
}

.halfScreen {
    height: 50vh;
}

.topV  {
    margin-top: 3em;
}

.header {
    font-weight: 200;
    padding-bottom: 2em;
    padding-top: 2em;
    font-size: 4em;
}

ul {
    list-style-type: none;
}

li {
    float: left;
}