.screen {
    height: 100vh;
}

.halfScreen {
        height: 50vh;

}

.header {
    font-weight: 200;
    padding: 1em;
    font-size: 4em;
}

ul {
    list-style-type: none;

}

li {
    float: left;
}