.smallIcon {
    width: 2em;
}

.centerMenu {
    margin: 5em auto;
    padding: 2em;
    line-height: 2em;
}

.fblogo  {
    width: 2.5em;
}

.padd {
    padding-top: 2em;
}

.bottom-content {
    margin-top: 2em;
}