
.drop {
    margin-top: 25em; 
    height: 30%;
    width: 30%;
    position: relative;
 } 

.drop:hover {
    cursor: pointer;
}

.home {
    background-image: url('../images/backdround.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    height: 100vh;
}
