
 html, body {
	 min-height: 100%;
	 height: 100%;
	 background-size: cover;
	 background-position: top center;
	 font-family: helvetica neue, helvetica, arial, sans-serif;
	 font-weight: 200;
}

.single {
	margin-bottom: 0.3em;
}

.container {
  width: 45%;
  margin: auto;
  padding: 10px;
}

.one {
  width: 45%;
  text-align: left;
  float: left;
}

.two {
  margin-left: 15%;
}

.close {
	padding: 0,5em;
}

 /* html.modal-active3, body.modal-active3 {
	 overflow: hidden;
} */
