
.ulmenu {
    list-style-type: none;
    margin-top: 0%;
    margin-bottom: 0%;
    padding: 0%;  
}

#nav {
  background-color:black;
  height: 3.5em;
  -webkit-box-shadow: -0px 0px 20px 2px #000000, 0px 0px 8px 3px #FFFFFF;
  box-shadow: -0px 0px 20px 2px #000000, 0px 0px 8px 3px #FFFFFF;
} 

.hrzLi {
   font-size: 1.1em;
   float: left;
   color: darkgrey;
   margin-left: 1em;
   padding-top: 0.8em;
   color: #fff;
   /* -webkit-text-shadow:  0 0 5px #fff; */
   /* text-shadow: 0 0 5px #fff; */
}

.hrzLi:hover {
  color: white;
  text-decoration: underline;
  text-decoration-thickness: 1%;
  cursor: pointer;
   -webkit-text-shadow: 0 0 5px #fff;
   text-shadow: 0 0 5px #fff;
}