.videoInfo {
  font-size: 1.3em;
  margin: auto;
  left: 50%;
  /* padding-left: 60%; */
  /* text-align: center; */
}

.colTwo {
  float: left;
  width: 50%;
  padding: 10px;
}

.gridTwoCol {
 padding-top: 1em;
}

.gridTwoCol:after {
  content: "";
  display: table;
  clear: both;
}