.draw-borders {
	 position: relative;
     padding-right: 2px;
     padding-left: 2em;
}
 .draw-borders::before {
	 border: 0 solid transparent;
	 content: '';
	 pointer-events: none;
	 position: absolute;
	 width: 0;
	 height: 0;
	 bottom: 0;
	 right: 0;
}
 .draw-borders::before {
	 border-bottom-width: 2px;
}

 .draw-borders:hover::before {
	 border-color: #ffe593;
	 transition: border-color 0s, width 0.55s, height 0.55s;
	 width: 60%;
	 height: 100%;
}
 .draw-borders:hover::before {
	 transition-delay: 0s, 0s, 0.55s;
}
 .btoon {
	 background: none;
	 border: none;
     font-weight: 600;
	 cursor: pointer;
	 line-height: 1em;
     padding-bottom: 0.5em;
	 letter-spacing: 0.05rem;
}