.draw-borderes {
	position: relative;
	padding-right: 2px;
	padding-left: 2em;
}

.draw-borderes::before {
	border: 0 solid;
	content: "";
	pointer-events: none;
	position: absolute;
	width: 0;
	height: 0;
	bottom: 0;
	right: 0;
	border-bottom-width: 2.5px;
}

.draw-borderes:hover::before {
	border-color: #ffe593;
	transition: border-color 0s, width 0.55s;
	width: 60%;
}

.btoonn {
	display: inline-block;
	/* font-size: 1.1em; */
	font-weight: 700;
	padding-bottom: 0.3em;
	letter-spacing: 0.08rem;
}