.draw-borderes {
	 position: relative;
     padding-right: 2px;
     padding-left: 2em;
}
 .draw-borderes::before {
	 border: 0 solid;
	 content: '';
	 pointer-events: none;
	 position: absolute;
	 width: 0;
	 height: 0;
	 bottom: 0;
	 right: 0;
}
 .draw-borderes::before {
	 border-bottom-width: 2px;
}

 .draw-borderes:hover::before {
	 border-color: #ffe593;
	 transition: border-color 0s, width 0.55s;
	 width: 60%;
}

 .btoonn {
	 display: inline-block;
	 border: none !important;
	 background: none;
	 border: none;
     font-weight: 600;
	 cursor: pointer;
	 line-height: 1em;
     padding-bottom: 0.5em;
	 letter-spacing: 0.05rem;
}